# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# local-only: over GitHub 50MB recommendation (see img/ on disk)
/img/AQMDEu-QxSSb56BYqiGkx_SOl6UYKr4zgTyL3Ee7y8PfBJBrsyLyWx3AU8_WKQWVBiOYzxvZb6l7-JKmcIam3BoFgQ-yidOoZ0QAmXC8U9Uliiz2HC35-qu8V9_PF35rvS91TSKQwFSKfhCq9MZV2tKnmxwUR_kOisfw764.mp4
/img/AQOF7arXwE6c2mVRrQXyllom9WIm7XupMjGuPyZG91cJ3IzwI3OwXzPbZSzRzxHNfsRkl-T6npdYzOkax6dZfvG3ER4NzzBQXjC9na523_zFC3K43atcK2GdAW9ytn2IPRlS3EyNlLdy-j6j7Gv68sST1BT5ommgsgrOsl4.mp4
